body {
  background: var(--brand-color);
  color: var(--primary-text-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  min-width: auto;
  min-height: 100vh;
  overflow: scroll;
}

@media only screen and (min-width: 1000px) {
  body {
    overflow: hidden;
  }
}

::selection {
  color: var(--brand-color);
  background-color: var(--primary-text-color);
}

input::placeholder {
  color: var(--brand-color);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:after {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

button {
  background: none;
  box-shadow: none;
}

.button {
  color: var(--primary-text-color);
  background-color: var(--brand-color);
  border-radius: 16px;
  padding: 18px 20px 20px;
  height: auto;
  text-align: center;

  transition: all 150ms ease-out;

  &:hover {
    background: var(--accent-color);
  }

  &:active {
    opacity: 0.9;
  }
}

input {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid var(--brand-color);
  text-align: center;
}

input:focus {
  border-color: var(--accent-color);
}

a.disabled {
  opacity: 0.3;
  pointer-events: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}
